/* layout.component.css */
* {
    box-sizing: border-box;
  }
  body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  }
  .col-1 {
  background: #e9fcfa;
  width: 90px;
  display: flex;
  
  }
  .col-2 {
  display: flex;
  flex-direction: column;
  flex: 5;
  }

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr; /* Uma coluna para o header, uma para o body e uma para a sidebar */
    gap: 20px;
  }
  
  .header, .body, .sidebar {
    padding: 20px;
    /*border: 1px solid #ccc;*/ /* Guia de bordas para layout */
  }
  
  .header {
    grid-column: 1 / span 3; /* Ocupa todas as três colunas */
    display: flex;
    flex-direction: column; /* Alinha os itens em coluna */
  }
  
  .header-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .header-sidebar {
    display: flex;
    gap: 10px;
    margin-left: auto; /* Move os botões para a direita */
  }
  
  .body {
    grid-column: 2; /* Ocupa apenas a segunda coluna */
  }
  
  .sidebar {
    grid-column: 3; /* Ocupa apenas a terceira coluna */
  }
  

  
.navbar-nav {
    list-style: none;
    padding: 20px;
    margin-top: 150px;
  }
  
  .custom-color {
    color: rgb(74, 99, 100);
  font-size: 20px;
  }
  
  
  
  ::ng-deep svg.svg-inline--fa.fa-calendar.fa-2x {
    width: 50px !important;
    height: 40px !important;
  }
  
  .nav-item {
    margin-bottom: 40px;
  }
  