/* profile.component.scss */
.profile-container {
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.profile-sidenav-container {
  display: flex;
  flex: 1;
  justify-content: center;
  width: 100%;
}

.profile-content {
  margin-top: 150px;
  padding: 20px;
  max-width: 400px;
  width: 100%;
}

.profile-form-container {
  width: 100%;
  max-width: 400px;
}

.profile-card {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

button {
  width: 100%;
}
