<nav class="col-1">
  <br><br><br>
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" routerLink="/bem-vindo" routerLinkActive="active">
      <fa-icon [icon]="faHome" class="custom-color" size="2x"></fa-icon>
    </a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/agendamento" routerLinkActive="active">
      <fa-icon [icon]="faCalendar" class="custom-color" size="2x"></fa-icon>
    </a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/triagem" routerLinkActive="active">
      <fa-icon [icon]="faLaptopMedical" class="custom-color" size="2x"></fa-icon>
    </a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/acompanhar-fila" routerLinkActive="active">
      <fa-icon [icon]="faUsersLine" class="custom-color" size="2x"></fa-icon>
    </a></li>
  </ul>
</nav>
